body {
    background-color: #e0f5b9;
    
/* Materialize */
}.nav-wrapper {
    background-color: #2ECC71;
}
.progress {
    height: 2rem;
}
.determinate {
	width: 0;
	transition: width 1s ease-in-out;
	padding: 8px;
	position: relative;
    color: #000000;
	text-align: right;
	white-space: nowrap;
}
.side-nav li>a {
    color: #ffffff;
}
.side-nav {
    background-color: #2ECC71;
}
.positive {
    color: #9cf196;
}
.neutral {
    color: #f5b971;
}
.negative {
    color: #fa877f;
}
.side-label {
}
/* list elements (meals, ingredients, steps) */
#meals-list .list-item,
#ingredient-list .list-item,
#step-list .list-item {

    background-color: #f5ffcb;
    border-radius: 4px;
    margin-bottom: 4px;
}
#meals-list .list-item:hover,
#ingredient-list .list-item:hover,
#step-list .list-item:hover {
    background-color: #c2dbc1;

}
.delete_item {
    cursor: pointer;
}
.delete_item:hover {
    color: #fa877f;
}
.nutrient {
    background-color: #f5ffcb;

}