<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/styles.css') }}"
			type="text/css"
		/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">		<title>Nutriplan</title>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="{{ url_for('index') }}" class="brand-logo">
						<span class="hide-on-small-only"><img src="{{ url_for('static', filename='images/meal.jpg') }}" class="responsive-img circle z-depth-2" alt="Image of food"></span><span>Nutriplan</span></a>
					<a
						href="#"
						data-activates="mobile-demo"
						class="button-collapse"
						><i class="material-icons">menu</i></a
					>
					<ul class="right hide-on-med-and-down">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('recipes') }}">Recipes</a></li>
						<li>
							<a href="{{ url_for('ingredients') }}"
								>Ingredients</a
							>
						</li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('recipes') }}">Recipes</a></li>
						<li>
							<a href="{{ url_for('ingredients') }}"
								>Ingredients</a
							>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="container">
            {% block content %} {% endblock %}
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<!-- Custom scripts for this template -->
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>
