{% extends 'base.html' %}
{% block content %}
<h3>Daily Meal Plan</h3>
<p>Pick recipes for each meal. Try to achieve your nutritional goals.</p>
<div class="col s12">
    <a class="waves-effect waves-light right btn"><i class="material-icons right">help</i>Quickstart guide</a>
</div>
<h3>Add a meal</h3>
<div class="row">
    <form class="col s12" autocomplete="off">
        <div class="row">
            <div class="input-field col s5">
                <i class="material-icons prefix">search</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate autocomplete">
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="input-field col s4">
                <select name="meal_type" id="meal_type">
                    {% for record in meal_type %}
                    <option value="">{{record.mealName}}</option>
                    {% endfor %}
                </select>
                <label>Meal type</label>
            </div>
            <div class="col s3">
                <button id="add-to-meal-plan" class="waves-effect waves-light right btn" type="submit" action="add-to-meal-plan"><i class="material-icons right">playlist_add</i>Add</button>
            </div>
        </div>
        <ul id="meals-list">
        </ul>
    </form>
</div>
<div id="nutrition-summary" class="row">
    <div class="col s12">
        <h4>Nutritional summary</h4>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 50%">Energy-0/2500kcal</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 0%">Carbohydrate</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 50%">Fats</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 0%">Protein</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 0%">Calcium</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 0%">Iron</div>
        </div>
    </div>
    <div class="col s12">
        <div class="progress">
            <div class="determinate" style="width: 0%">Zinc</div>
        </div>
    </div>
</div>
{% endblock %}
