{% extends 'base.html' %}
{% block content %}
<h3>Ingredients</h3>
<p>Everything starts with the ingredients. That's where you'll find all those wonderful nutrients!</p>
<h3>Enter ingredient details</h3>
<div class="row">
    <form autocomplete="off" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="ingredient_name" name="ingredient_name" type="text" class="validate autocomplete">
                <label for="ingredient_name">Ingredient Name</label>
            </div>
            <div class="input-field col s3">
                <input id="ingredient_amount" name="ingredient_amount" type="number" placeholder="1" step="1" class="validate">
                <label for="ingredient_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="ingredient_units" id="ingredient_units">
                    <optgroup label="Weight">
                        <option value="microgram">microgram (μg)</option>
                        <option value="milligram">milligram (mg)</option>
                        <option value="gram">gram (g)</option>
                        <option value="kilogram">kilogram (kg)</option>
                    </optgroup>
                    <optgroup label="Volume">
                        <option value="teaspoon">teaspoon (tsp.)</option>
                        <option value="tablespoon">tablespoon (tbsp.)</option>
                        <option value="cup">cup</option>
                        <option value="millilitre">millilitre (ml)</option>
                        <option value="litre">litre (L)</option>
                    <optgroup label="Quantity">
                        <option value="item" selected>item</option>
                    </optgroup>
                </select>
                <label for="ingredient_units">Optgroups</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Energy</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" name="energy_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="energy_units" id="energy_units">
                    <option value="kcal" selected>kcal (calorie)</option>
                </select>
                <label for="energy_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="carbohydrate_amount">Carbohydrates</label>
            </div>
            <div class="input-field col s3">
                <input id="carbohydrate_amount" name="carbohydrate_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="carbohydrate_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="carb_units" id="carb_units">
                    <option value="gram" selected>gram (g)</option>
                </select>
                <label for="carb_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="fats_amount">Fats</label>
            </div>
            <div class="input-field col s3">
                <input id="fats_amount" name="fats_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="fats_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="fat_units" id="fat_units">
                    <option value="gram" selected>gram (g)</option>
                </select>
                <label for="fat_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="protein_amount">Protein</label>
            </div>
            <div class="input-field col s3">
                <input id="protein_amount" name="protein_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="protein_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="protein_units" id="protein_units">
                    <option value="gram" selected>gram (g)</option>
                </select>
                <label for="protein_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="calcium_amount">Calcuim</label>
            </div>
            <div class="input-field col s3">
                <input id="calcium_amount" name="calcium_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="calcium_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="calcium_units" id="calcium_units">
                    <option value="milligram" selected>milligram (mg)</option>
                </select>
                <label for="calcium_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="iron_amount">Iron</label>
            </div>
            <div class="input-field col s3">
                <input id="iron_amount" name="iron_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="iron_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="iron_units" id="iron_units">
                    <option value="milligram" selected>milligram (mg)</option>
                </select>
                <label for="iron_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="zinc_amount">Zinc</label>
            </div>
            <div class="input-field col s3">
                <input id="zinc_amount" name="zinc_amount" type="number" placeholder="0" step="1" class="validate">
                <label for="zinc_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select name="zinc_units" id="zinc_units">
                    <option value="milligram" selected>milligram (mg)</option>
                </select>
                <label for="zinc_units">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="waves-effect waves-light right btn" type="submit" action="save"><i class="material-icons right">save</i>Save</button>
                <button class="waves-effect waves-light right btn" type="submit" action="delete"><i class="material-icons right">delete_forever</i>Delete</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
