{% extends 'base.html' %}
{% block content %}
<h3>Ingredients</h3>
<p>Everything starts with the ingredients. That's where you'll find all those wonderful nutrients!</p>
<h3>Enter ingredient details</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="ingredient_name" type="text" class="validate">
                <label for="ingredient_name">Ingredient Name</label>
            </div>
            <div class="input-field col s3">
                <input id="ingredient_amount" type="number" class="validate">
                <label for="ingredient_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Energy</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Carbohydrates</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Fats</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Protein</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Calcuim</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Iron</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="energy_amount">Zinc</label>
            </div>
            <div class="input-field col s3">
                <input id="energy_amount" type="number" class="validate">
                <label for="energy_amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" selected>g</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light right btn"><i class="material-icons right">save</i>Save</a>
                <a class="waves-effect waves-light right btn"><i class="material-icons right">delete_forever</i>Delete</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
