{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h3>Recipes</h3>
        <p>Find recipes or add your own!<br>
        We recommend that you begin with creating the <a href="{{ url_for('ingredients') }}">ingredients</a> you intend to use in your recipe.
        Enjoy creating wonderful, tasty recipes!
        </p>
    </div>
</div>
<div class="row">
    <div class="col s12 card" id="recipe-details-card">
        <h3 class="card-title">Enter recipe details</h3>
        <form class="col s12" autocomplete="off">
            <div class="row">
                <div class="input-field col s12 m8">
                    <i class="material-icons prefix">search</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate autocomplete"
                    {% if name %}
                        value="{{name}}"
                    {% elif recipe_name %}
                        value="{{recipe_name}}"
                    {% endif %}>
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">people</i>
                    <input id="servings" name="servings" type="number" class="validate"
                    {% if name %}
                    value=""
                    {% elif servings %}
                    value="{{servings}}"
                    {% endif %}>
                    <label for="servings">Servings</label>
                </div>
            </div>
            <div id="ingredient-row" class="row card">
                <h5 class="col s12 card-title">Ingredients</h5>
                <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix">search</i>
                    <input id="ingredient_name" name="ingredient_name" type="text" class="validate autocomplete"
                    {% if name %}
                    value=""
                    {% elif ingredient_name %}
                    value="{{ ingredient_name }}"
                    {% endif %}>
                    <label for="ingredient_name">Ingredient name</label>
                </div>
                <div class="input-field col s6 m2 l2">
                    <input id="ingredient_amount" type="number" step="1" class="validate"
                    {% if name %}
                    value=""
                    {% elif ingredient_amount %}
                    value="{{ingredient_amount}}"
                    {% endif %}>
                    <label for="ingredient_amount">Amount</label>
                </div>
                <div class="input-field col s6 m4 l4">
                    <select name="ingredient_units" id="ingredient_units">
                        <optgroup label="Weight">
                            <option value="gram (g)" selected>gram (g)</option>
                        </optgroup>
                        <optgroup label="Volume">
                            <option value="teaspoon (tsp.)">teaspoon (tsp.)</option>
                            <option value="tablespoon (tbsp.)">tablespoon (tbsp.)</option>
                            <option value="millilitre (ml)">millilitre (ml)</option>
                        </optgroup>
                    </select>
                    <label for="ingredient_units">Units</label>
                </div>
                <div class="col s12 m12 l12">
                    <button id="add-ingredient-to-recipe" class="waves-effect waves-light right btn" type="submit" action="add-ingredient"><i class="material-icons right">playlist_add</i>Add</button>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul id="ingredient-list">
                            {% if not name %}
                                {% for record in ingredient %}
                                    <li class="row list-item">
                                        <div class="col s6 valign-wrapper">
                                            <i class="material-icons">navigate_next</i><span>{{record.ingredient_name}}</span>
                                        </div>
                                        <div class="col s1 valign-wrapper">
                                            {{record.ingredient_amount}}
                                        </div>
                                        <div class="col s4 valign-wrapper">
                                            {{record.ingredient_unit}}
                                        </div>
                                        <div class="col s1 valign-wrapper">
                                            <i class="material-icons delete_item">delete_forever</i>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="step-row" class="row card">
                <h5 class="col s12 card-title">Steps</h5>
                <div class="input-field col s2">
                    <input id="step_number" type="number" class="validate"
                    {% if step_number %}
                    value="{{step_number}}"
                    {% endif %}>
                    <label for="step_number">Step number</label>
                </div>
                <div class="input-field col s10">
                    <input id="step_description" type="text" class="validate"
                    {% if step_description %}
                    value="{{step_description}}"
                    {% endif %}>
                    <label for="step_description">Step description</label>
                </div>
                <div class="col s12">
                    <button id="add-step-to-recipe" class="waves-effect waves-light right btn" type="submit" action="add-step"><i class="material-icons right">playlist_add</i>Add</button>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul id="step-list">
                            {% if not name %}
                                {% for record in step %}
                                    <li class="row list-item">
                                        <div class="col s2 valign-wrapper">
                                            {{record.step_number}}
                                        </div>
                                        <div class="col s9 valign-wrapper">
                                            {{record.step_description}}
                                        </div>
                                        <div class="col s1 valign-wrapper">
                                            <i class="material-icons delete_item">delete_forever</i>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 save-buttons">
                    <button id="save-recipe" class="waves-effect waves-light right btn" type="submit" action="save"><i class="material-icons right">save</i>Save</button>
                    <button id="delete-recipe" class="waves-effect waves-light right btn" type="submit" action="delete"><i class="material-icons right">delete_forever</i>Delete</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}
