{% extends 'base.html' %}
{% block content %}
<h3>Recipes</h3>
<p>When creating a new recipe, you must create the ingredients first.</p>
<h3>Enter recipe details</h3>
<div class="row">
    <form class="col s12" autocomplete="off">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate autocomplete">
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">people</i>
                <input id="servings" type="number" class="validate">
                <label for="servings">Servings</label>
            </div>
        </div>
        <div class="row">
            <h5>Ingredients</h5>
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="ingredient_name" name="ingredient_name" type="text" class="validate autocomplete">
                <label for="ingredient_name">Ingredient name</label>
            </div>
            <div class="input-field col s1">
                <input id="ingredient_amount" type="number" placeholder="0.00" step="0.01" class="validate">
                <label for="ingredient_amount">Amount</label>
            </div>
            <div class="input-field col s2">
                <select name="ingredient_units" id="ingredient_units">
                    <optgroup label="Weight">
                        <option value="microgram">microgram (μg)</option>
                        <option value="milligram">milligram (mg)</option>
                        <option value="gram">gram (g)</option>
                        <option value="kilogram">kilogram (kg)</option>
                    </optgroup>
                    <optgroup label="Volume">
                        <option value="teaspoon">teaspoon (tsp.)</option>
                        <option value="tablespoon">tablespoon (tbsp.)</option>
                        <option value="cup">cup</option>
                        <option value="millilitre">millilitre (ml)</option>
                        <option value="litre">litre (L)</option>
                    <optgroup label="Quantity">
                        <option value="item" selected>item</option>
                    </optgroup>
                </select>
                <label for="ingredient_units">Units</label>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light right btn"><i class="material-icons right">playlist_add</i>Add</a>
            </div>
        </div>
        <div class="row">
            <h5>Steps</h5>
            <div class="input-field col s2">
                <input id="step_number" type="number" class="validate">
                <label for="step_number">Step number</label>
            </div>
            <div class="input-field col s7">
                <input id="step_description" type="text" class="validate">
                <label for="step_description">Step description</label>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light right btn"><i class="material-icons right">playlist_add</i>Add</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light right btn"><i class="material-icons right">save</i>Save</a>
                <a class="waves-effect waves-light right btn"><i class="material-icons right">delete_forever</i>Delete</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
